<div class="box" style="height:850px; width:100%; overflow: scroll;">
<div class="icon-container">
    <div class="cjs_channel_title">종합지</div>
    <ul class="cjs_age_list _MM_NEWS_SUBSCRIBE_CHANNEL_GROUP">
        <!-- 클릭하면 각각의 아이콘에 링크로 이동하는 이미지 아이콘들 -->
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/020" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="020" data-oid="020" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F020%2F2020%2F09%2F17%2Flogo_020_56_20200917112548.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">동아일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/081" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="081" data-oid="081" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F081%2F2022%2F01%2F05%2Flogo_081_56_20220105195830.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">서울신문</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/025" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="025" data-oid="025" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F025%2F2021%2F08%2F20%2Flogo_025_56_20210820165911.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">중앙일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/469" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="469" data-oid="469" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F469%2F2023%2F02%2F07%2Flogo_469_56_20230207160012.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">한국일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/032" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="032" data-oid="032" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F032%2F2022%2F12%2F05%2Flogo_032_56_20221205150153.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">경향신문</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/022" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="022" data-oid="022" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F022%2F2018%2F07%2F18%2Flogo_022_56_20180718152618.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">세계일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/028" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="028" data-oid="028" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F028%2F2018%2F08%2F01%2Flogo_028_56_20180801163801.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">한겨레</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/023" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="023" data-oid="023" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F023%2F2020%2F04%2F29%2Flogo_023_56_20200429140429.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">조선일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/021" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="021" data-oid="021" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F021%2F2022%2F08%2F04%2Flogo_021_56_20220804125306.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">문화일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/005" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="005" data-oid="005" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F005%2F2018%2F07%2F18%2Flogo_005_56_20180718152218.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">국민일보</div>
            </a>
        </li>
    </ul>
    <div class="cjs_channel_title">언론사</div>
    <ul class="cjs_age_list _MM_NEWS_SUBSCRIBE_CHANNEL_GROUP">
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/449" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="449" data-oid="449" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F449%2F2020%2F06%2F26%2Flogo_449_56_20200626104826.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">채널A</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/422" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="422" data-oid="422" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F422%2F2019%2F11%2F29%2Flogo_422_56_20191129165529.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">연합뉴스TV</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/448" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="448" data-oid="448" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F448%2F2020%2F08%2F11%2Flogo_448_56_20200811154809.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">TV조선</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/421" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="421" data-oid="421" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F421%2F2021%2F02%2F09%2Flogo_421_56_20210209173713.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">뉴스1</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/055" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="055" data-oid="055" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F055%2F2020%2F10%2F07%2Flogo_055_56_20201007141807.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">SBS</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/215" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="215" data-oid="215" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F215%2F2020%2F08%2F12%2Flogo_215_56_20200812134433.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">한국경제TV</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/001" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="001" data-oid="001" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F001%2F2020%2F08%2F11%2Flogo_001_56_20200811154916.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">연합뉴스</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/437" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="437" data-oid="437" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F437%2F2023%2F07%2F17%2Flogo_437_56_20230717153920.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">JTBC</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/056" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="056" data-oid="056" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F056%2F2021%2F10%2F28%2Flogo_056_56_20211028103053.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">KBS</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/052" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="052" data-oid="052" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F052%2F2021%2F10%2F01%2Flogo_052_56_20211001183149.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">YTN</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/374" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="374" data-oid="374" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F374%2F2020%2F12%2F29%2Flogo_374_56_20201229152554.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">SBS Biz</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/214" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="214" data-oid="214" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F214%2F2020%2F06%2F30%2Flogo_214_56_20200630111130.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">MBC</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/003" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="003" data-oid="003" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F003%2F2022%2F02%2F21%2Flogo_003_56_20220221152351.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">뉴시스</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/057" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="057" data-oid="057" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F057%2F2019%2F11%2F25%2Flogo_057_56_20191125103925.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">MBN</div>
            </a>
        </li>
    </ul>
    <div class="cjs_channel_title">경제지</div>
    <ul class="cjs_age_list _MM_NEWS_SUBSCRIBE_CHANNEL_GROUP">
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/015" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="015" data-oid="015" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F015%2F2020%2F08%2F11%2Flogo_015_56_20200811194037.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">한국경제</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/009" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="009" data-oid="009" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F009%2F2018%2F07%2F20%2Flogo_009_56_20180720194820.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">매일경제</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/018" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="018" data-oid="018" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F018%2F2018%2F07%2F18%2Flogo_018_56_20180718152418.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">이데일리</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/008" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="008" data-oid="008" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F008%2F2018%2F09%2F13%2Flogo_008_56_20180913140213.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">머니투데이</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/366" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="366" data-oid="366" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F366%2F2020%2F12%2F23%2Flogo_366_56_20201223182636.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">조선비즈</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/011" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="011" data-oid="011" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F011%2F2022%2F07%2F29%2Flogo_011_56_20220729150242.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">서울경제</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/123" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="123" data-oid="123" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F123%2F2018%2F10%2F02%2Flogo_123_56_20181002190002.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">조세일보</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/014" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="014" data-oid="014" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F014%2F2020%2F12%2F23%2Flogo_014_56_20201223183322.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">파이낸셜뉴스</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/277" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="277" data-oid="277" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F277%2F2018%2F07%2F18%2Flogo_277_56_20180718153218.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">아시아경제</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/016" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="016" data-oid="016" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F016%2F2020%2F11%2F03%2Flogo_016_56_20201103113832.jpg%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">헤럴드경제</div>
            </a>
        </li>
        <li class="cjs_age_item">
            <a href="https://media.naver.com/press/648" class="cjs_link_age __MM_CHANEL_SUBSCRIBE_ITEM" target="_blank"
               data-office-id="648" data-oid="648" role="checkbox" aria-checked="false" data-clk="editnlcheck">
                <div class="cjs_age_mw"><img width="54" height="54" alt=""
                                             onerror="this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                             src="https://s.pstatic.net/dthumb.phinf/?src=%22https%3A%2F%2Fs.pstatic.net%2Fmimgnews%2Fimage%2Fupload%2Foffice_logo%2F648%2F2023%2F02%2F13%2Flogo_648_56_20230213170647.png%22&amp;type=f108_108&amp;service=navermain">
                </div>
                <div class="cjs_age_name">비즈워치</div>
            </a>
        </li>
    </ul>
</div>
</div>